
<div class="container">
    <div class="row ">
        <div  *ngIf="repos" class="display">
            <div class="col-5">
            <a href="">
                <span> {{repos[1].name}} </span>
            </a>
           <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 

           <p class="description">{{repos[1].description}}</p>
            

            </div>
            <div class="col-5">
                <a href="">
                    <span> {{repos[1].name}} </span>
                </a>
               <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 
    
               <p class="description">{{repos[1].description}}</p>
                
    
                </div>
                <div class="col-5">
                    <a href="">
                        <span> {{repos[1].name}} </span>
                    </a>
                   <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 
        
                   <p class="description">{{repos[1].description}}</p>
                    
        
                    </div>
          
                    <div class="col-5">
                        <a href="">
                            <span> {{repos[1].name}} </span>
                        </a>
                       <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 
            
                       <p class="description">{{repos[1].description}}</p>
                        
            
                        </div>
                        <div class="col-5">
                            <a href="">
                                <span> {{repos[1].name}} </span>
                            </a>
                           <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 
                
                           <p class="description">{{repos[1].description}}</p>
                            
                
                            </div>
                            <div class="col-5">
                                <a href="">
                                    <span> {{repos[1].name}} </span>
                                </a>
                               <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 
                    
                               <p class="description">{{repos[1].description}}</p>
                                
                    
                                </div>
                
                
               

        
        </div>
        <!-- <div class="col-5"></div> -->

    </div>
</div>