
<div class="container">
    <div class="row ">
        <div  *ngIf="repos" class="display">
            <div class="col-5">
            <a href="{{repos[1].html_url}}" target="_blank">
                <span> {{repos[1].name}} </span>
                <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 

            </a>

           <p class="description">{{repos[1].description}}</p>
            

            </div>
            <div class="col-5">
                <a href="{{repos[2].html_url}}" target="_blank">
                    <span> {{repos[2].name}} </span>
                    <small class="label label-default"><span >{{repos[3].visibility}}</span></small> 


                </a>
                <p class="description">{{repos[2].description}}</p>

   
                
    
                </div>
                <div class="col-5">
                    <a href="{{repos[3].html_url}}" target="_blank">
                        <span> {{repos[3].name}} </span>
                        <small class="label label-default"><span >{{repos[3].visibility}}</span></small> 

                    </a>
        
                   <p class="description">{{repos[3].description}}</p>
                    
        
                    </div>
          
                    <div class="col-5">
                        <a href="{{repos[5].html_url}}" target="_blank">
                            <span> {{repos[5].name}} </span>
                            <small class="label label-default"><span >{{repos[6].visibility}}</span></small> 

                        </a>
            
                       <p class="description">{{repos[5].description}}</p>
                        
            
                        </div>
                        <div class="col-5">
                            <a href="{{repos[6].html_url}}" target="_blank">
                                <span> {{repos[6].name}} </span>
                                <small class="label label-default"><span >{{repos[6].visibility}}</span></small> 

                            </a>
                
                           <p class="description">{{repos[6].description}}</p>
                            
                
                            </div>
                            <div class="col-5">
                                <a href="{{repos[7].html_url}}" target="_blank">
                                    <span> {{repos[7].name}} </span>
                                    <small class="label label-default"><span >{{repos[7].visibility}}</span></small> 

                                </a>
                    
                               <p class="description">{{repos[7].description}}</p>
                                
                    
                                </div>
                
                
               

        
        </div>
        <!-- <div class="col-5"></div> -->

    </div>
</div>