
<div class="container">
    <div class="row display">
        <div  *ngIf="repos">
            <div class="col-6">
            <a href="">
                <span> {{repos[1].name}} </span>
            </a>
           <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 

           <p class="description">{{repos[1].description}}</p>
            

            </div>
            <p>{{repos[0].name}}</p>
            <p>{{repos[0].name}}</p>
            
            
                
               

        
        </div>
        <!-- <div class="col-5"></div> -->

    </div>
</div>