

<div class="profile container-fluid" *ngIf="users">
    <div class="top">
        <!-- navmenu -->
        <nav class="navbar navbar-light bg-light nav">
            <div class="container-fluid">
              <form class="d-flex" #form= ngForm>
                
                <i class="bi bi-github logo"></i>

                <input class="form-control me-2" type="search" placeholder="Search User" aria-label="Search"
                 name="username" (keyup) ="findUser()"  [(ngModel)]="username" >
                         <!--  -->
                 <!--  -->
              </form>
            </div>
          </nav>
    
        <div class="heading">
            <!--  -->
            <span (click)="show1()" class="overview"><i class="bi bi-book"></i>Overview</span>
            <span  (click)="show2()" class="overview"><i class="bi bi-journal" ></i>Repositories  <p class="p-repos badge" >{{users.public_repos}}</p></span>
            <span><i class="bi bi-columns"></i>Projects</span>
            <span><i class="bi bi-box"></i>Packages</span>
            <span><i class="bi bi-star"></i>Stars</span>
        </div>
        <hr size="3">
    </div>
 <div class="row mt-1">
    <div class="col-3 profPic" >
        <!-- profile-pc -->
        <img src={{users.avatar_url}} alt="" class="rounded-circle z-depth-2 pic" >

        <!-- username -->
        
        <h1 class="usersName">
            <span class="fullName">{{users.name}}</span> <br>
            <span class="nick">{{users.login}}</span>

        </h1>

        <!-- edit button -->
            <p class="editbtn">Edit profile</p>
                <!-- following -->
                <div class="people">
                    <i class="bi bi-people"> </i>
                        {{users.followers}}  <span>followers</span> 
                        .{{users.following}}  <span>followers</span>  
                
        
                </div>
                 <!-- location -->

                <p class="location"><i class="bi bi-geo-alt"></i>{{users.location}}</p>

            


    </div>

     <!-- <div class="col-3">col-4</div> -->
     <div class="col-8 repos">
       <div class="div">
        <h2>Popular repositories</h2>
        <p>Customize your pins</p>
       </div>

<div>
     

    </div>
        <!-- <app-repos *ngIf="showRepos">
        </app-repos> -->
        <!-- *ngIf="!showRepos" -->
        <div *ngIf="showpr">
        <div  *ngIf="repos" class="display"  >
            <div class="col-5" >
            <a href="{{repos[1].html_url}}" target="_blank">
                <span> {{repos[1].name}} </span>
                <small class="label label-default"><span >{{repos[1].visibility}}</span></small> 
    
            </a>
    
           <p class="description">{{repos[1].description}}</p>
           
            
    
            </div>
            <div class="col-5">
                <a href="{{repos[2].html_url}}" target="_blank">
                    <span> {{repos[2].name}} </span>
                    <small class="label label-default"><span >{{repos[3].visibility}}</span></small> 
    
    
                </a>
                <p class="description">{{repos[2].description}}</p>
    
    
                
    
                </div>
    
                <div class="col-5">
                    <a href="{{repos[3].html_url}}" target="_blank">
                        <span> {{repos[3].name}} </span>
                        <small class="label label-default"><span >{{repos[3].visibility}}</span></small> 
    
                    </a>
        
                   <p class="description">{{repos[3].description}}</p>
                    
        
                    </div>
    
                    <div class="col-5">
                        <a href="{{repos[5].html_url}}" target="_blank">
                            <span> {{repos[5].name}} </span>
                            <small class="label label-default"><span >{{repos[6].visibility}}</span></small> 
    
                        </a>
            
                       <p class="description">{{repos[5].description}}</p>
                        
            
                        </div>
    
                        <div class="col-5">
                            <a href="{{repos[6].html_url}}" target="_blank">
                                <span> {{repos[6].name}} </span>
                                <small class="label label-default"><span >{{repos[6].visibility}}</span></small> 
    
                            </a>
                
                           <p class="description">{{repos[6].description}}</p>
                            
                
                            </div>
    
    
                            <div class="col-5">
                                <a href="{{repos[7].html_url}}" target="_blank">
                                    <span> {{repos[7].name}} </span>
                                    <small class="label label-default"><span >{{repos[7].visibility}}</span></small> 
    
                                </a>
                    
                               <p class="description">{{repos[7].description}}</p>
                                
                    
                                </div>
          
    








                               
    
           </div>
          
            
            


           
          

     </div> 
     <div class="row" *ngIf="!showpr" >
        <div class="container display" >

            <div class="col-12 repos"  *ngFor="let repo of repos" >
                <!--  -->
            <a href="{{repo.html_url}}" target="_blank">
                <span> {{repo.name}} </span>
                <small class="label label-default"><span >{{repo.visibility}}</span>hi</small> 
            </a>

           <p class="description">{{repo.description}}</p>
           <small class="time">updated last at:{{repo.updated_at|date : 'short'}}</small>

            

            </div>
            </div>
</div>
 </div>
   

</div>
