

<div class="profile container-fluid" *ngIf="users">
    <div class="top">
        <!-- navmenu -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <form class="d-flex">
                <i class="bi bi-github logo"></i>

                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    
        <div class="heading">
            <span (click) =" navigateRepos2()" (click)="show()"><i class="bi bi-book"></i>Overview</span>
            <span (click) =" navigateRepos()" (click) ="hide()"  class="overview"><i class="bi bi-journal" ></i>Repositories  <p class="p-repos badge" >{{users.public_repos}}</p></span>
            <span><i class="bi bi-columns"></i>Projects</span>
            <span><i class="bi bi-box"></i>Packages</span>
            <span><i class="bi bi-star"></i>Stars</span>
        </div>
        <hr size="3">
    </div>
 <div class="row mt-1">
    <div class="col-3 profPic" >
        <!-- profile-pc -->
        <img src={{users.avatar_url}} alt="" class="rounded-circle z-depth-2 pic" >

        <!-- username -->
        
        <h1 class="usersName">
            <span class="fullName">{{users.name}}</span> <br>
            <span class="nick">{{users.login}}</span>

        </h1>

        <!-- edit button -->
            <p class="editbtn">Edit profile</p>
                <!-- following -->
                <div class="people">
                    <i class="bi bi-people"> </i>
                        {{users.followers}}  <span>followers</span> 
                        .{{users.following}}  <span>followers</span>  
                
        
                </div>
                 <!-- location -->

                <p class="location"><i class="bi bi-geo-alt"></i>{{users.location}}</p>

            


    </div>

     <!-- <div class="col-3">col-4</div> -->
     <div class="col-8 repos">
       <div class="div">
        <h2>Popular repositories</h2>
        <p>Customize your pins</p>
       </div>

        <app-repos *ngIf="showRepos">
        </app-repos>
        <app-all-repos *ngIf="!showRepos"></app-all-repos>
     </div> 

 </div>
   

</div>
